<h1>Contact Form</h1>
<form action="/" method="POST" novalidate>
    <div>
        {{ with .Errors }}
        <b><p style="color:red;" class="error">{{ . }}</p></b>
        {{ end }}
        <p><label><b>email:</b></label></p>
        <p><input type="email" name="email" value="{{ .Email }}"></p>
    </div>
    <div>
        <p><label><b>message:</b></label></p>
        <p><textarea name="content">{{ .Content }}</textarea></p>
    </div>
    <div>
        <input type="submit" value="send message">
    </div>
</form>